<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->

 <!-- BEGIN HEAD -->
<head>
     <meta charset="UTF-8" />
    <title>Online Judge</title>
     <meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
     <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <!-- GLOBAL STYLES -->
    <!-- GLOBAL STYLES -->
    <link rel="stylesheet" th:href="@{assets/plugins/bootstrap/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{assets/css/main.css}" />
    <link rel="stylesheet" th:href="@{assets/css/theme.css}" />
    <link rel="stylesheet" th:href="@{assets/css/MoneAdmin.css}" />
    <link rel="stylesheet" th:href="@{assets/plugins/Font-Awesome/css/font-awesome.css}" />
    <!--END GLOBAL STYLES -->

    <!-- PAGE LEVEL STYLES -->
    <link th:href="@{assets/plugins/dataTables/dataTables.bootstrap.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{assets/plugins/social-buttons/social-buttons.css}" />
    <link rel="stylesheet" th:href="@{assets/css/bootstrap-fileupload.min.css}" />
    <!-- END PAGE LEVEL  STYLES -->
       <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
      <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js}"></script>
    <![endif]-->
    <link rel="stylesheet" th:href="@{assets/plugins/wysihtml5/dist/bootstrap-wysihtml5-0.0.2.css}" />
    <link rel="stylesheet" th:href="@{assets/css/bootstrap-wysihtml5-hack.css}" />
    <style>
        ul.wysihtml5-toolbar > li {
            position: relative;
        }
    </style>
    
</head>
     <!-- END HEAD -->
     <!-- BEGIN BODY -->
<body class="padTop53 " >

     <!-- MAIN WRAPPER -->
    <div id="wrap">

    <div th:replace="fragments/header :: header">Header is loaded here</div>
	<div th:replace="fragments/menu :: menu">Menu is loaded here</div>

        <!--PAGE CONTENT -->
        <div id="content">

            <div class="inner">
                <div class="row">
                    <div class="col-lg-12">
                        <h2> Add Problem</h2>
                    </div>
                </div>

                <hr />

                <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                          Problem 
                        </div>
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-lg-12">
                              <div id="div-1" class="accordion-body collapse in body">
                                <form th:action="@{/addproblem}" enctype="multipart/form-data" method="POST" role="form" >

                <div class="form-group" >
                    <label>Problem name</label>
                    <input type="text" name="problemname" id="problemname" placeholder="Problem name" class="form-control" />
                </div>

                <div class="form-group" >
                    <label >Version</label>
                    <input type="text" name="version" id="version" placeholder="Version" class="form-control" />
                </div >
                                    
                <div class="form-group" >
                    <label> Tags (csv)</label>
                    <input type="text" name="tags" id="tags" placeholder="binary search, dp, dijkstra" class="form-control" />
                </div >
     
                                    <!--
                <div class="form-group" >
                    <label >Text</label> 
                    <textarea id="text" name="text" class="form-control" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 194px;" >
<h3>Problem a+b</h3>
    <p> 
      Дадени са две цели числа <b><i>a</i></b> и <b><i>b</i></b>. Намерете техния сбор.
    <p>
      <b>Вход</b><br>
      Първият ред съдържа две цели числа - <b><i>a</i></b>, <b><i>b</i></b> <b>(0 < <i>a</i>, <i>b</i> < 100)</b>
    <p>
      <b>Изход</b><br>
      Отпечатайте сбора на двете числа - <b><i>a</i> + <i>b</i></b>
    <p>
      <b>Пример</b><br>
    <table border="1">
      <tr><td>Вход</td></tr>
      <tr><td><pre>10 15</pre></td></tr>
      <tr><td>Изход</td></tr>
      <tr><td><pre>25</pre></td></tr>
    </table>
  </textarea >
</div > -->
                                        
        <div id="div-1"  class="form-group">
             <label >Text</label>
                <textarea id="wysihtml5" name="text" class="form-control" rows="10"><!-- h3>Problem a+b</h3>
    <p> 
      Дадени са две цели числа <b><i>a</i></b> и <b><i>b</i></b>. Намерете техния сбор.
   </p>
                    </br>
            <p><b>Вход</b><br>
      Първият ред съдържа две цели числа - <b><i>a</i></b>, <b><i>b</i></b> <b>(0 < <i>a</i>, <i>b</i> < 100)</b>
    </p></br> </br>
    <p>
      <b>Изход</b><br>
      Отпечатайте сбора на двете числа - <b><i>a</i> + <i>b</i></b>
    </p> </br></br>
    <p>
      <b>Пример</b><br>
        <b>Вход</b><br>
        10 15<br>
        <b>Изход</b><br>
        25<br>
    </p-->
            </textarea>
            
        </div>

<div class="form-group" >
                        <label class="control-label">Test Cases</label>
                            <div class="fileupload fileupload-new" data-provides="fileupload"><input type="hidden" value="" name="" />
                                <div class="input-group">

                                    <span class="btn btn-file btn-info">
                                        <span class="fileupload-new">Select file</span>
                                        <span class="fileupload-exists">Change</span>
                                        <input type="file" name="file" />
                                    </span> 
                                    <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">Remove</a>
                                    
                                    <div class="col-lg-12">
                                        <i class="icon-file fileupload-exists"></i>
                                        <span class="fileupload-preview"></span>
                                    </div>
                        </div>
                    </div>
                    <textarea id="test" name="test" class="form-control" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 194px;" placeholder="10 15
#
25
###
19 4
#
23
" ></textarea >
                        </div>

                <div class="form-group" >
                    <label>Points</label>
                    <input type="text" value="100" name="points" id="points" class="form-control" />
                </div>

                <div class="form-group" >
                    <label >Allowed Languages</label>

											<div class="checkbox" >
                        <label >
                          <input type="checkbox" name="cpp" value="cpp" checked="checked" />C++
                        </label>
                      
                        <br /><label >Time Limit in Milliseconds</label>
                    <input type="text" name="cpptime" id="cpp" value="1000" class="form-control" />
                        <label >Memory Limit in MB</label>
                    <input type="text" name="cppmemory" id="cpp" value="64" class="form-control" />
                      </div >

											<div class="checkbox" >
                        <label >
                          <input type="checkbox" name="java" value="java" checked="checked" />Java
                        </label>
                        <br /><label >Time Limit in Milliseconds</label>
                    <input type="text" name="javatime" id="java" value="1000" class="form-control" />
                        <label >Memory Limit in MB</label>
                    <input type="text" name="javamemory" id="java" value="64" class="form-control" />
                      </div >

                </div >
     
                <div class="form-group" >
                    <label >Visibility</label>

                    <select id="visibility" name="visibility" class="form-control" >
                      <option value="private" >Private</option>
                      <option value="public" >Public</option>
                    </select>
                </div >


                <div class="form-group">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-8">
                        <input type="submit" class="btn btn-default btn-lg" />
                    </div>
                </div>

                                </form>
                              </div>
                            </div>
                          </div>

                        </div>
                    </div>
                </div>
            </div>
                  </div>




        </div>
       <!--END PAGE CONTENT -->


    </div>

     <!--END MAIN WRAPPER -->

    <div th:replace="fragments/footer :: footer">Footer is loaded here</div>

    <!-- GLOBAL SCRIPTS -->
    <script th:src="@{assets/plugins/jquery-2.0.3.min.js}"></script>
    <script th:src="@{assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js}"></script>
    <!-- END GLOBAL SCRIPTS -->
        <!-- PAGE LEVEL SCRIPTS -->
    <script th:src="@{assets/plugins/wysihtml5/lib/js/wysihtml5-0.3.0.min.js}"></script>
    <script th:src="@{assets/plugins/bootstrap-wysihtml5-hack.js}"></script>
   
    <script th:src="@{assets/plugins/dataTables/jquery.dataTables.js}"></script>
    <script th:src="@{assets/plugins/dataTables/dataTables.bootstrap.js}"></script>
    <script th:src="@{assets/plugins/jasny/js/bootstrap-fileupload.js}"></script>
     <script>
         $('#wysihtml5').wysihtml5();
         
         
         $(document).ready(function () {
             $('#dataTables-example').dataTable();
         });
    </script>
     <!-- END PAGE LEVEL SCRIPTS -->
</body>
     <!-- END BODY -->
</html>
