<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->

 <!-- BEGIN HEAD -->
<head>
     <meta charset="UTF-8" />
    <title>Online Judge</title>
     <meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
     <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <!-- GLOBAL STYLES -->
    <!-- GLOBAL STYLES -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/theme.css" />
    <link rel="stylesheet" href="assets/css/MoneAdmin.css" />
    <link rel="stylesheet" href="assets/plugins/Font-Awesome/css/font-awesome.css" />
    <!--END GLOBAL STYLES -->

    <!-- PAGE LEVEL STYLES -->
    <link href="assets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/plugins/social-buttons/social-buttons.css" />
    <!-- END PAGE LEVEL  STYLES -->
       <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
     <!-- END HEAD -->
     <!-- BEGIN BODY -->
<body class="padTop53 " >

     <!-- MAIN WRAPPER -->
    <div id="wrap">

    <div th:replace="fragments/header :: header">Header is loaded here</div>
	<div th:replace="fragments/menu :: menu">Menu is loaded here</div>

        <!--PAGE CONTENT -->
        <div id="content">

            <div class="inner">
                <div class="row">
                    <div class="col-lg-12">
                        <h2> Dashboard </h2>
                    </div>
                </div>
                <hr />
                
                
                <div class="row">
                    <div class="col-lg-12">    
                        <h1> Добре дошли!</h1>
                        
                        <div th:if="${role}=='user'" style="font-size:large"> 
                            <p> За да се включите към вашата група: 
                                <ol> 
                                    <li> от менюто в ляво изберете <b>Groups</b>,</li>
                                    <li>Щракнете върху бутона <b>+Join</b> и</li>
                                    <li>напишете името на групата. </li>
                                </ol> 
                            </p>
                            <p>За да решавате задачи:
                                <ol>
                                    <li>от менюто изберете <b>Assignments</b>,</li>
                                    <li>щракнете върху съответното задание.</li>
                                    <li>можете да разгледате задачите от заданието като изберете <b>Problems</b> от менюто</li>
                                    <li>можете да качите решение - <b>Submit</b> code от менюто</li>
                                    <li>можете да видите качените от вас решения - <b>My submission</b></li>
                                </ol>
                            </p>            
                        </div>           
                        <div th:if="${role}=='teacher'" style="font-size:large"> 
                            <p>В системата потребителите са обединени в групи (напр. група "5а клас", "школа" и т.н.). За да дадете задачи за дадена група, трябва да създадете задание (assignment). </p>
                            
                            <p> <h3>Създаване на група </h3>
                                <ol> 
                                    <li> от менюто в ляво изберете <b>Groups</b>,</li>
                                    <li>Щракнете върху бутона <b>+Add</b> и</li>
                                    <li>Въведете име и описание на групата</li>
                                    <li>Учениците се добавят сами към групата. За целта от техните акаунти избират <b>Groups</b> -> <b>Join</b> -> и пишат името на групата.</li>
                                </ol> 
                            </p>
                            <p><h3>Разглеждане на вече съществуващи задачи</h3>
                                <ol>
                                    <li>от менюто изберете <b>Problems</b>,</li>
                                    <li>отворете съответната задача</li>
                                    <li>в полето Search (горе-дясно) можете да търсите по етикет на задачата. (С етикетите можете да намерите типа задачи, които ви трябват. Примерни етикети са cout, array, loop, binary search)</li>
                                </ol>
                            </p> 
                            <p><h3>Създаване на задача</h3>
                                <ol>
                                    <li>от менюто изберете <b>Problems</b>,</li>
                                    <li>щракнете <b>+Add</b></li>
                                    <li>попълнете полетета като следвате инструкциите на място</li>
                                </ol>
                            </p> 
                            <p><h3>Създаване на задание</h3>
                                Заданията са начина да дадете определен набор от задачи на някоя група. Примерни задания са "Работа в час - 2 окт 2016", "Домашна работа", "Упражнение на масиви", "Контролно на масиви" и т.н. 
                                <ol>
                                    <li>от менюто изберете <b>Assignments</b>,</li>
                                    <li>щракнете <b>+Add</b></li>
                                    <li>попълнете полетета като следвате инструкциите на място</li>
                                    <li>като отворите заданието ще можете да видите всички изпратени решения и класиране на участниците по точки</li>
                                </ol>
                            </p>
                            <p><h3>Ако имате въпроси</h3>
                                Пишете мейл на <a href="mailto:shalamanov.marin@gmail.com" target="_top">shalamanov.marin@gmail.com</a> или на <a href="mailto:pppepito86@gmail.com" target="_top">pppepito86@gmail.com</a>.
                            </p>
                        </div>           
                    
                    </div>
                                   
				<div class="col-lg-5">
               </div>
            </div>
        </div>




        </div>
       <!--END PAGE CONTENT -->


    </div>

     <!--END MAIN WRAPPER -->

    <div th:replace="fragments/footer :: footer">Footer is loaded here</div>

     <!-- GLOBAL SCRIPTS -->
    <script src="assets/plugins/jquery-2.0.3.min.js"></script>
     <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <!-- END GLOBAL SCRIPTS -->
        <!-- PAGE LEVEL SCRIPTS -->
    <script src="assets/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="assets/plugins/dataTables/dataTables.bootstrap.js"></script>
     
    <script>
         $(document).ready(function () {
             $('#dataTables-example').dataTable();
         });
       </script>
          
		<script src="assets/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="assets/plugins/morris/morris.js"></script>
    <script>
        /*
        // Load the graphics
        $.get("/pointsperweek", function(data1, status){
            Morris.Line({
                element: 'morris-line-chart',
                data: data1,
                xkey: 'Week',
                ykeys: ['Points'],
                labels: ['Points'],
                //hideHover: 'auto',
               // resize: true
            });
        }); */
    </script>


     <!-- END PAGE LEVEL SCRIPTS -->
</body>
     <!-- END BODY -->
</html>
